.vide {
  height: 70vh
}

form.formulaire {
  max-width: 600px;
  width: 100%;
}


@media (min-width: 576px) and (max-width: 768px) {
  form.formulaire h1 {
    font-size: 28px;
  }

  form.formulaire .form-control {
    font-size: 16px;
  }

  form.formulaire button {
    font-size: 18px;
    padding: 12px;
  }

  textarea.form-control {
    height: 200px;
  }
}

@media (max-width: 576px) {
  form.formulaire {
    padding: 10px;
  }

  form.formulaire h1 {
    font-size: 24px;
  }

  form.formulaire .form-control {
    font-size: 14px;
  }

  form.formulaire button {
    font-size: 16px;
    padding: 10px;
  }

  textarea.form-control {
    height: 150px;
    /* Ajuste la hauteur du textarea */
  }
}

body {
  background-image: url(/Asset/Images/girafe_paysage.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* formulaire */
h1 {
  color: white;
  letter-spacing: 2px;
  margin-bottom: 10%;
}

.formulaire {
  top: 60%;
  left: 50%;
  background-color: #38453a;
  padding: 30px;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* bouton */
.btn-primary {
  background-color: #f78f2e;
}

/* fin formulaire */

/* debut bouton bas de page  */

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}

.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.example-2 .icon-content a:hover {
  color: white;
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
  background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
  background: linear-gradient(45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
  background-color: #ff0000;
}