/* début body */
video {
    position: relative;
    margin: 0%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.title h1 {
    position: absolute;
    top: 65%;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px #38453a;
    letter-spacing: 2px;
}

body {
    background-color: #38453a;

}

/* 1 ere section */
.preszoo {
    padding-top: 30px;
    margin: auto;
    width: 90vw;
    height: auto;
}

.preszoo h2 {
    color: white;
    text-align: center;
}

.font {
    background-color: #f78f2e;
    padding: 30px;
    border-radius: 15px;
    margin-top: 50px;
    max-height: 300px;
}

.preszoo p {
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: roboto, serif;
}

/* map google */
iframe {
    margin-top: 50px;
    border-radius: 15px;
}

/* fin 1 ere section */

/* début block univers */
.animaux {
    margin: 70px auto;
    height: auto;
    width: 90vw;

}

.animaux h2 {
    color: white;
    text-align: center;
}

.buttonA {
    margin-top: 30px;
}

.buttonA button {
    background-color: #f78f2e;
    color: white;
    border-radius: 10px;
    height: 60px;
    width: 120px;

}


.images {
    margin-top: 10px;
    height: auto;
    display: flex;
    justify-content: center;
}

.images img {
    border-radius: 15px;
    max-width: 100%;
    width: 90vw;
    max-height: 600px;
    object-fit: cover;
    object-position:center;

}

/* fin block univers */

/* 3 eme section horaires*/
.horaires h2 {
    color: white;
}

.table-custom {
    width: 60%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    border: none;
}

.table-custom td {
    padding: 10px 12px;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
}

.table-custom .jour {
    font-weight: bold;
    text-align: left;
    padding-right: 8px;
}

.table-custom .heure {
    padding-left: 8px;
    padding-right: 8px;
    color: #ddd;
}

.table-custom .separateur {
    padding: 0;
    color: #adb5bd;
    font-weight: bold;
}

.table-custom .ferme {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: #f78f2e;
}


@media (max-width: 768px) {
    .table-custom {
        width: 90%;
    }

    .table-custom td {
        padding: 8px; 
    }
}

/* fin 3 eme section horaire */



/* dbut 4 eme section avis*/
.avis {
    margin: 70px auto;
    height: auto;
    width: 90vw;
}

.card {
    height: 23rem;
}

.card-body h5,p {
    font-family: roboto, serif;

}

.card-body p {
    font-size: 30px;
}

/* fin 4 eme section avis*/

/* bouton laisser un avis */
.buttonb {
    margin-top: 40px;
}

.buttonb button {
    background-color: #f78f2e;
    color: white;
    border-radius: 10px;
    height: 60px;
    width: auto;

}

/* couleur etoite card avis */
.star-filled {
    color: #38453a;
}

/* avis modal */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}